{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script>
            function login() {
                $.ajax({
                    url: '/userlogin/',
                    type: 'POST',
                    data: {
                        account: $("#account").val(),
                        password: $("#password").val()
                    },
                    dataType: 'json',
                    success: loginResult
                })
            }

            function loginResult(data) {
                if (data.result) {
                    location.href = "/";
                }
            }
        </script>
    </head>

    <body>
        <div class="input-group mb-3" style="width: 300px">
            <input type="text" id="account" class="form-control" placeholder="Account" aria-label="Account" aria-describedby="basic-addon1" value="user1">
        </div>
        <div class="input-group mb-3" style="width: 300px">
            <input type="password" id="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" value="password1">
        </div>
        <button type="button" class="btn btn-primary" onclick="login()">登录</button>
        <button type="button" class="btn btn-secondary">注册</button>
    </body>
</html>