{% extends "base.html" %}
{% load post_item %}

{% block title %}关注{% endblock %}

{% block extra_head %}
    <style>
        
    </style>
    <script>
        function register() {
            $.ajax({
                url: '/userregister/',
                type: 'POST',
                data: {
                    username: $("#username").val(),
                    password: $("#password").val(),
                    email: $("#email").val()
                },
                dataType: 'json'
            })
        }
    </script>
{% endblock %}

{% block content %}

{% endblock %}