{% extends "base.html" %}
{% load post_item %}

{% block title %}首页{% endblock %}

{% block extra_head %}
<style>

</style>
<script>
    function focusUser(userid) {
        $.ajax({
            url: '/focus_user/',
            type: 'POST',
            data: {
                focususerid: userid
            },
            dataType: 'json',
            success: (data) => focusResult(data, userid)
        })
    }

    function focusResult(data, userid) {
        if (data.result) {
            $("<div>已关注</div>").replaceAll("[userid='"+userid+"']");
        }
    }
</script>
{% endblock %}

{% block content %}
    {% for item in data_list %}
        {% post_item item %}
    {% endfor %}
{% endblock %}