{% extends "base.html" %}

{% block title %}发布{% endblock %}

{% block extra_head %}
<style>
    .post_wappter {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .post_foot {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
</style>
<script>
    function post() {
        $.ajax({
            url: '/postContent/',
            type: 'POST',
            data: {
                content: $("#content").val()
            },
            dataType: 'json',
            success: postResult
        })
    }

    function postResult(data) {
        if (data.result) {
            location.href = "/";
        }
    }

    function countContent() {
        var content = $("#content").val();
        var content = content.replace(/\s/gi, "");
        $("#counten_num").text(content.length);
        if (content.length > 1000) {
            $("#post_button").attr("disabled", "");
        }
        else {
            $("#post_button").removeAttr("disabled");
        }
    }
</script>
{% endblock %}

{% block content %}
    <div class="post_wappter">
        <div class="input-group mb-3">
            <textarea id="content" class="form-control" style="height: 100px;" onkeyup="countContent()"></textarea>
        </div>
        <div class="post_foot">
            <div><span id="counten_num">0</span>/1000字</div>
            <button id="post_button" type="button" class="btn btn-primary" style="border-radius: 30px; width: 70px;" onclick="countContent()">发布</button>
        </div>
        
    </div>
{% endblock %}