
<style>
    .post-item {
        border-bottom: 1px rgb(239, 243, 244) solid;
        padding: 20px;
    }
    .post-item:hover {
        background-color: #f7f7f7;
    }
    .post-item-title {
        height:40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
</style>
<div class="post-item">
    <div>
        <div class="post-item-title">
            <div style="font-size: 20px; font-weight: 700;">{{ item.0 }}</div>
            {% if item.3 > 0 or item.4 > 0%}
                <div>已关注</div>
            {% else %}
                <button type="button" class="btn btn-dark" style="border-radius: 30px; width: 64px">关注</button>
            {% endif %}
        </div>
    
        <p>{{ item.1 }}</p>
        <div style="height:30px">
            <div style="float: right; font-size: 14px;">{{ item.2 }}</div>
        </div>
    </div>
</div>